<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cque.usedweb.dao.ChinaMapper" >
  <resultMap id="BaseResultMap" type="com.cque.usedweb.entity.China" >
    <id column="cn_id" property="cnId" jdbcType="INTEGER" />
    <result column="cn_name" property="cnName" jdbcType="VARCHAR" />
    <result column="cn_pid" property="cnPid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cn_id, cn_name, cn_pid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cque.usedweb.entity.ChinaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from china
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from china
    where cn_id = #{cnId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from china
    where cn_id = #{cnId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cque.usedweb.entity.ChinaExample" >
    delete from china
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cque.usedweb.entity.China" >
    insert into china (cn_id, cn_name, cn_pid
      )
    values (#{cnId,jdbcType=INTEGER}, #{cnName,jdbcType=VARCHAR}, #{cnPid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cque.usedweb.entity.China" >
    insert into china
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cnId != null" >
        cn_id,
      </if>
      <if test="cnName != null" >
        cn_name,
      </if>
      <if test="cnPid != null" >
        cn_pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cnId != null" >
        #{cnId,jdbcType=INTEGER},
      </if>
      <if test="cnName != null" >
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="cnPid != null" >
        #{cnPid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cque.usedweb.entity.ChinaExample" resultType="java.lang.Integer" >
    select count(*) from china
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update china
    <set >
      <if test="record.cnId != null" >
        cn_id = #{record.cnId,jdbcType=INTEGER},
      </if>
      <if test="record.cnName != null" >
        cn_name = #{record.cnName,jdbcType=VARCHAR},
      </if>
      <if test="record.cnPid != null" >
        cn_pid = #{record.cnPid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update china
    set cn_id = #{record.cnId,jdbcType=INTEGER},
      cn_name = #{record.cnName,jdbcType=VARCHAR},
      cn_pid = #{record.cnPid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cque.usedweb.entity.China" >
    update china
    <set >
      <if test="cnName != null" >
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="cnPid != null" >
        cn_pid = #{cnPid,jdbcType=INTEGER},
      </if>
    </set>
    where cn_id = #{cnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cque.usedweb.entity.China" >
    update china
    set cn_name = #{cnName,jdbcType=VARCHAR},
      cn_pid = #{cnPid,jdbcType=INTEGER}
    where cn_id = #{cnId,jdbcType=INTEGER}
  </update>
</mapper>