<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <title>花生</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:regular,700,600&amp;latin" type="text/css" />
        <!-- Essential styles -->
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css" type="text/css">

        <!-- Dlapak styles -->
        <link id="theme_style" type="text/css" href="/assets/css/style1.css" rel="stylesheet" media="screen">

        <!-- Assets -->
        <link rel="stylesheet" href="/assets/plugins/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/assets/plugins/owl-carousel/owl.theme.css">

        <!-- JS Library -->
        <script src="/assets/js/jquery.js"></script>

    </head>
    <body>
        <div class="wrapper">
            <header class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/index" class="navbar-brand"><span class="logo"><i class="fa fa-recycle"></i> 二手商城</span></a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="new-ads"><a href="#" class="btn btn-ads btn-block">进入求购论坛</a></li>
                            
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown"><strong class="caret"></strong>&nbsp;选项</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/toShelfPro">上架商品</a></li>
                                    <li><a href="#">我发布的商品</a></li>
                                    <li><a href="#">喜欢的商品</a></li>
                                    <li><a class="to_cart">购物车</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-user"></i> <strong class="caret"></strong>&nbsp;</a>
                                <div class="dropdown-menu dropdown-login" style="padding:15px;min-width:250px">
                                    <span>个人积分：</span><span style="font-weight: bolder">50分</span><br>
                                    <span th:if="${session.user.huiY == 1}">会员中心</span><br>
                                    <span th:if="${session.user.huiY == 0}">您还不是会员，<a href="#">点击</a>加入</span><br>
                                    <button type="submit" class="btn btn-custom btn-block"><a href="/toPersonalCenter">个人中心</a></button>
                                    <button type="button" class="btn btn-custom btn-block logoutBtn">注销</button>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </header>
            <section class="category-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb pull-right">
                                <li><a href="/index">主页</a></li>
                                <li><a href="/toUsedPage">板块</a></li>
                                
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="list-results">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="item-ads">
                                            <div class="row">
                                                    <div class="col-sm-2 col-xs-3">
                                                        <div class="item-badge featured-ads">
                                                            <a href="#" th:text="${pro.level}+'成新'"></a>
                                                        </div>
                                                        <div class="item-img">
                                                            <img alt="" th:src="${pro.image}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 col-xs-6">
                                                        <div class="item-title">
                                                            <a th:href="@{'/detailPro/'+${pro.id}}"><h4 th:text="${pro.name}"></h4></a>
                                                        </div>
                                                        <div class="item-meta">
                                                            <div>
                                                                <span>选择数量:</span>
                                                                <input type="number" min="1" th:max="${pro.count}" id="quantity" value="1">
                                                                <span>|</span>
                                                                <span>交易方式:</span>
                                                                <span th:text="${tranMap[pro.transaction]}">

                                                                </span>
                                                                <span>|</span>
                                                                <span><a id="showMaijiaInfo" data-toggle="tooltip" data-placement="top" title="交易方式不满意？致电卖家吧" class="btn btn-default btn-sm"><i class="fa fa-question"></i></a></span>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 col-xs-3">
                                                        <div class="item-price">
                                                            <h3 th:text="'￥：'+${pro.price}"></h3>
                                                            <span th:text="'销量：'+${pro.sales}"></span>
                                                        </div>
                                                        <div class="item-action">
                                                            <ul>
                                                                <li><button class="btn btn-success" id="addBtn">确认添加</button></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </section>
        </div>
        <!-- Essentials -->
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/plugins/owl-carousel/owl.carousel.js"></script>
        <script src="/assets/plugins/counter/jquery.countTo.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();

                //==========注销===========
                $(".logoutBtn").click(function () {
                    var r = confirm("确定注销本账号吗?");
                    if (r) {
                        $.ajax({
                            url: "/logout",
                            type: "POST",
                            dataType: "text",
                            success: function (content) {
                                if (content == "success") {
                                    alert("注销成功");
                                    window.location.href = "/index";
                                }
                            }
                        })
                    }
                });

                //=========加载全部交易方式=========
                var $tran_way = $("#select_tran_way");
                $.ajax({
                    url:"/findAllTrans",
                    type:"POST",
                    dataType:"json",
                    success:function (content) {
                        $tran_way.empty();
                        for (var i =0;i<content.length;i++){
                            $tran_way.append("<option value='"+content[i].num+"'>"+content[i].tranWay+"</option>");
                        }
                    }
                });

                //========添加购物车=========
                $("#addBtn").click(function () {
                    var proId = "[[${proId}]]";
                    var pro_id = [[${pro.id}]];
                    var quantity = $("#quantity").val();
                    var transaction = [[${pro.transaction}]];
                    window.open("/addCart?proId="+proId+"&quantity="+quantity+"&transaction="+transaction,'购物车', 'height=400, width=800');

                });

                //======进入购物车=========
                $(".to_cart").click(function () {
                    window.location.href="/toPersonalCenter";
                    window.open("/toMyCart",'购物车', 'height=400, width=800');

                });

                //=======展示卖家电话=======
                $("#showMaijiaInfo").click(function () {
                    var pro_id = [[${pro.id}]];
                    $.ajax({
                        url:"/getMaijiaInfo",
                        dataType:"text",
                        type:"GET",
                        data:{
                            "proId":pro_id
                        },
                        success:function (content) {
                            alert(content);
                        }
                    })
                })
            })
        </script>
    </body>
</html> 
