<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
		<title>编辑子类别</title>
		<!-- Bootstrap Core CSS -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Menu CSS -->
		<link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>

		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="white-box">
						<h3 class="text-center">
							编辑子类别
						</h3>
						<form class="form-horizontal form-material" action="/changeTopic" method="post">
							<div class="form-group">
								<label class="col-md-12">子类别名称</label>
								<div class="col-md-12">
									<input type="number" th:value="${topic.id}" style="display: none" name="id">
									<input type="text" placeholder="子类别名称" class="form-control form-control-line" name="topicName" th:value="${topic.topicName}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-12">所属板块</label>
								<div class="col-md-12">
									<select class="form-control form-control-line" id="select_board" name="boardId">

									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-12">子类别描述</label>
								<div class="col-md-12">
									<textarea rows="5" class="form-control form-control-line" name="topicDesc" th:text="${topic.topicDesc}"></textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12">
									<button class="btn btn-success" type="submit">确认修改</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- /#wrapper -->
		<!-- jQuery -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Menu Plugin JavaScript -->
		<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
		<!--Nice scroll JavaScript -->
		<script src="js/jquery.nicescroll.js"></script>
		<!--Wave Effects -->
		<script src="js/waves.js"></script>
		<!-- Custom Theme JavaScript -->
		<script src="js/myadmin.js"></script>

		<script type="text/javascript">
			$(document).ready(function () {
				//========加载所有的板块类别=========
				var $sel_board = $("#select_board");
				var boardId = "[[${topic.boardId}]]";
				console.log(boardId);

				$.ajax({
					url:"/getAllBoard",
					dataType:"json",
					type:"GET",
					success:function (content) {
						$sel_board.empty();
						for (var i =0;i<content.length;i++){
							if (content[i].id == boardId){
								$sel_board.append("<option value='"+content[i].id+"' selected='selected'>"+content[i].boardName+"</option>");
							} else {
								$sel_board.append("<option value='"+content[i].id+"'>"+content[i].boardName+"</option>");
							}

						}
					}
				});
			})



		</script>
	</body>

</html>