<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#allmap{height:75%;width:100%;}
		#r-result{width:100%; font-size:14px;}
	</style>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=1.0&type=webgl&ak=fv5jURZLIT7cp15AzGsgwaQh6moPqPlI"></script>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=fv5jURZLIT7cp15AzGsgwaQh6moPqPlI"></script>
	<title>步行导航检索</title>
</head>
<body>
	<div id="allmap"></div>
	<div id="r-result">
		请输入地名: <input id="suggestId" type="text" style="width:300px; margin-right:10px;" />
		<input type="button" value="查询" onclick="theLocation()" />
	</div>
	<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;">
		
	</div>
</body>
<script type="text/javascript">
	// 百度地图API功能
	var fromV_lng = "[[${fromV.lng}]]";
	var fromV_lat = "[[${fromV.lat}]]";
	var toV_lng = "[[${toV.lng}]]";
	var toV_lat = "[[${toV.lat}]]";

	var point = new BMap.Point(fromV_lng, fromV_lat);		// 创建点坐标 (学府大道校区)
	var point1 = new BMap.Point(toV_lng, toV_lat);
	var map = new BMap.Map("allmap");
	map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
	var walking = new BMap.WalkingRoute(map, {renderOptions:{map: map, autoViewport: true}});
	walking.search(point1, point);
</script>
</html>

